<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body>
  <nav class="border-b border-gray-300">
    <div class="flex items-center justify-between p-6">
    <!-- Logo -->
        <h1 class="font-bold text-2xl">Anonymous Clubhouse</h1>

        <!-- Hamburger icon (mobile) -->
        <button id="menu-btn" class="md:hidden text-gray-600 focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

    <!-- Desktop Menu -->
        <div class="hidden md:flex gap-4">
            <a href="/login" class="bg-gray-800 text-gray-300 px-4 py-2 rounded-2xl hover:text-black hover:bg-gray-100">Login</a>
            <a href="/auth/register" class="bg-blue-600 text-white px-4 py-2 rounded-2xl font-semibold">Register</a>
        </div>
    </div>

  <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden flex-col items-center md:hidden pb-4">
        <a href="/login" class="block w-full text-center py-2 text-gray-700 hover:bg-gray-100">Login</a>
        <a href="/auth/register" class="block w-full text-center py-2 text-white bg-blue-600 hover:bg-blue-700">Register</a>
    </div>
  </nav>

  <script>
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    menuBtn.addEventListener('click', () => {
       mobileMenu.classList.toggle('hidden');
    });
  </script>
</body>
</html>