<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/vendor/toastify/toastify.css" />
    <title><%= title %></title>
</head>
<body class="">
    <%- include('partials/nav') %>

    <% if (user) { %>
      <%- include('partials/newMessage') %>
    <% } %>
    
    <div class="container mx-auto min-h-screen">
      <%- include('partials/messages', { messages, currentUser: user }) %>
    </div>
    



    <script src="/vendor/toastify/toastify.js"></script>   
    <script src="/js/toastLogic.js"></script>
    <script src="/js/main.js"></script> 
</body>
</html>