<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="min-h-screen flex justify-center mt-12 bg-gray-50">
        <div class="w-full max-w-md p-6 bg-white rounded shadow">
        <h1 class="text-4xl text-center mb-6">Login</h1>
        <form action="/auth/login" method="POST" class="flex flex-col gap-4 items-center">
            <div class="w-full">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="Email" required class="w-full border px-3 py-2 rounded">
            </div>
            
            <div class="w-full">
                <label for="pw">Password: </label>
                <input type="password" name="password" id="pw" placeholder="Password" required class="w-full border px-3 py-2 rounded">
            </div>
            
            <button type="submit" class="font-semibold text-xl">Login</button>
        </form>
    </div>
    </div>
    

    <script>
        (async () => {
            try {
                const res = await fetch('/auth/check-auth');
                const data = await res.json();

                const statusDiv = document.getElementById('status');

                if (data.loggedIn) {
                    statusDiv.innerText = `You are already logged in as ${data.user.firstName} ${data.user.lastName || 'someone'}`
                } else {
                    statusDiv.innerText = 'You are not logged in'
                }
            } catch (err) {
                console.error('Error checking auth status ', err)
                document.getElementById('status').innerText = 'Error checking login status';
            }
        })
    </script>
</body>
</html>